[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
    proxy = http://127.0.0.1:7890
[https]
    proxy = http://127.0.0.1:7890
[git]
    proxy = http://127.0.0.1:7890	
[user]
	name = 小柒
	email = benny.shen@msn.com
